<%-include('header')%>
<link rel='stylesheet' href='/stylesheets/home.css'>
<div class="contenedor-menu">
  <div class="contenedor"> 
    <div class="box1">
      <h2>Generos</h2>
      <% for (const elemento of genre) { %>
        <a href= '#<%= elemento.nombre%>'><p><%=elemento.nombre%></p></a>
      <%} %>    
    </div>
    <div class="box2">
      <div class="son-box2">
        <% for (const elemento1 of genre) { %>
          <h2><a name='<%= elemento1.nombre%>'><%= elemento1.nombre%></a></h2>
          <% for (const elemento2 of games) { %>
            <% if(elemento1.nombre == elemento2.genre) { %>
              <p><strong>Titulo: <%= elemento2.title%></strong></p>
              <p> Description: <%= elemento2.short_description%></p>
              <p><a href=<%=elemento2.game_url %>><strong>Jugar</strong> </a></p>
              <p><strong> Plataforma:<%=elemento2.platform%></strong></p>
              <p>Autor:<%=elemento2.publisher%></p>
              <p>Desarrollador:<%=elemento2.developer%></p>
              <p>Fecha de lanzamiento:<%=elemento2.release_date%></p>
              <p><a href=<%=elemento2.freetogame_profile_url%>>Juego libre</a></p>
                
            <%} %>
          <%} %>
        <%} %>
      </div>
    </div>
  </div>
  <div class="contenedor2">
    <a href="/detail/1"><img src="/images/juego1.jpg" alt=""></a>
  </div>
</div>

  <%-include('footer')%>
