<%-include('header')%>
<link rel='stylesheet' href='/stylesheets/home.css'>
<div class="contenedor-menu">
  <div class="contenedor"> 
    <div class="box1">
      <h2>Generos</h2>
      <% for (const elemento of genre) { %>
        <a href= '#<%= elemento.nombre%>'><p><%=elemento.nombre%></p></a>
      <%} %>    
    </div>
    <div class="box2">
      <div class="son-box2">
        <% for (const elemento1 of genre) { %>
          <h2><a name='<%= elemento1.nombre%>'><%= elemento1.nombre%></a></h2>
          <% for (const elemento2 of games) { %>
            <% if(elemento1.nombre == elemento2.genre) { %>
              <p><strong>Titulo: <%= elemento2.title%></strong></p>
              <p> Description: <%= elemento2.short_description%></p>
              <p>Plataforma: <cite><%=elemento2.platform%></cite> </p>
              <p>Autor:<%=elemento2.publisher%></p>
              <p>Desarrollador:<%=elemento2.developer%></p>
              <p>Fecha de lanzamiento:<%=elemento2.release_date%></p>
              <p><a href=<%=elemento2.freetogame_profile_url%>>Juego libre</a></p>
              <p><a href=<%=elemento2.game_url %>><strong>Link de juego</strong> </a></p> 
              <p>*********************************************</p> 
            <%} %>
          <%} %>
        <%} %>
      </div>
    </div>
  </div>
  <div class="contenedor2">
    <% for(let i = 0; i < games.length; i++) {%>
      <div>
        <a href="/detail/<%= games[i].id %>"><img src="/images/download/juego<%=games[i].id%>.jpg" alt=""></a>
        <div>
          <p class="titulo-foto"><%=games[i].title%></p>
        </div>
      </div>
    <%} %> 
  </div>
</div>

  <%-include('footer')%>
